/* attendance page header */
.attendance{
	text-align: center
	}

/* creates grid layout for the page */
.wrapper {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	justify-items: stretch;
	align-items: stretch;
	}

/* spacing between divs */
.wrapper > div {
	padding:1em;
	} 

/* select employee div to display labels, text and button */
.selectEmployee {
	grid-column: 1/2;
	grid-row: 1/2;
	background: #CCFFCC;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	line-height: 120px;  
	font-size: 25px;
	}

/* company's logo */
.image {
	grid-column: 2/4;
	grid-row: 1/2;
	text-align: center;
	width: auto;
	background: #CCFFCC;
	}

/* this one combines employee name, total hours in one place */
.combined {
	display:grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100px, auto);
	justify-items: stretch;
	align-items: stretch;
	background: #CCFFCC;	
	}

/* shows employee name */
.showEmployeeName {
	grid-column: 1/2;
	grid-row: 1/2;
	background: #CCFFCC;
	text-align: center;
	vertical-align: middle;
	line-height: 120px;  
	font-size: 40px;
	}

/* show total hours worked this week */
.empWeekTotalHours {
	grid-column: 1/2;
	grid-row: 2/3;
	background: #CCFFCC;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;  
	font-size: 30px;
	}

/* show table with clock IN/OUT time */
.showTable {
	grid-column: 1/5;
	grid-row: 2/5;
	background: #CCFFCC;
	text-align: center;
	width: auto;
	overflow-x: auto;
	}

/* organize table */	
table{
	border-collapse: collapse;
	width: 100%;
	padding: 15px;
	text-align: center;
	}

/* background for table column headers */
th {background-color: #ddd}

/* columns + column heareds */
th, td {
	border: 2px solid #000;
	padding: 10px;
	text-align: center;
	}

/* table rows */
table tr:nth-child(odd) td {
	background-color:#e7edf0;
	}  







